@import url('https://fonts.googleapis.com/css?family=Sen:400');

:root {
    --background: #FFFFFF;
    --base: #2D3142;
    --main: #BFC0C0;
    --highlight: #EF8354;
    --alternative: #4F5D75;
    --font: "Sen";
}

html, body {
    font-family: var(--font), serif;
    background-color: var(--background);
    color: var(--base);
    min-width: 800px;
}
p, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h6 {
    font-size: 24px;
}

a {
    color: var(--alternative);
}

.dash_container {
    position: fixed;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.top_text {
    display: grid;
    grid-template-columns: 17% 73% 10%;
    vertical-align: middle;

}

.title {
    margin-top: -0.25em;
    font-size: 38px;
    color: var(--main);
}

.desc {
    border-left-width: 2px;
    font-size: 16px;
    padding-right: 1em;
    padding-left: 1em;
}

.stat {
    color: var(--main);
    font-size: 22px;
}

.mini_container {
    width: 20%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-table;
}

.modebar{
      display: none !important;
}

g.layer.bg > rect {
    fill-opacity: 0 !important;
}

.stat_panel {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
    grid-template-columns: repeat(5, 1fr);
    border-bottom-width: 2px;
    border-bottom-color: var(--base);
    border-bottom-style: solid;
    border-top-width: 2px;
    border-top-color: var(--base);
    border-top-style: solid;
    /*padding-top: 0.5em;*/
    /*padding-bottom: 0.5em;*/
    text-align: center;
}


.left_side {
    float: left;
    height: 550px;
    width: 55%;
    padding-left: 1em;
}

.right_side {
    float: right;
    height: 550px;
    width: 40%;
    padding-right: 1em;
}

#infection_map {
    height: 60%;

}

#infected_countries {
    height: 40%;
}

#infection_curve {
    height: 45%;
}

#infection_trend {
    height: 45%;
}

#right_separator {
    height: 5%;
}

#selector_title{
    font-size: 18px;
    text-decoration: underline;
    padding-bottom: 0.5em;
}

#radio_select {
    font-size: 16px;
}